<div class="ui top-description">
    <h2>Presence</h2>
    <a href="https://www.pubnub.com/products/storage-and-playback/" target="_blank">Learn more...</a>
</div>
<div class="ui pane-content">
    <div class="received-messages">
        <div class="ui header">Presence messages</div>
        <div class="received-message-list">
            <envelope *ngFor="#envelope of displayedPresenceEnvelopes" [envelope]="envelope"></envelope>
        </div>
        <div class="actions">
            <div class="ui action input fluid">
                <input #channel type="text" placeholder="channel">
                <button class="ui red right labeled icon button" (click)="presence(channel.value)">
                    <i class="send icon"></i>
                    Check presence
                </button>
            </div>
        </div>
    </div>
    <div class="subscribed">
        <div class="ui header">Subscribed channels for presence</div>
        <div class="subscribed-channel-list">
            <div class="ui action labeled input fluid subscribed-channel" *ngFor="#presence of _subscriptions.subscriptions">
                <div class="ui label" *ngIf="!presence.channelGroup">
                    channel
                </div>
                <div class="ui label" *ngIf="presence.channelGroup">
                    channel group
                </div>
                <input type="text" placeholder="name" disabled value="{{presence.name}}">
                <button class="ui red blue labeled icon button" (click)="leave(presence)">
                    <i class="sign out icon"></i>
                    Leave
                </button>
            </div>
        </div>
        <div class="actions">
            <div class="ui action input fluid">
                <input #name type="text" placeholder="name">
                <select #channelGroup id="p-cg-select" class="ui compact selection dropdown">
                    <option value="channel">channel</option>
                    <option value="channelGroup">channel group</option>
                </select>
                <button class="ui red right labeled icon button" (click)="subscribeTo(name.value, channelGroup.value)">
                    <i class="sign in icon"></i>
                    Subscribe
                </button>
            </div>
        </div>
    </div>
</div>



