<div class="ui top-description">
    <h2>Publish and Subscribe</h2>
    <a href="https://www.pubnub.com/products/publish-subscribe/" target="_blank">Learn more...</a>
</div>
<div class="ui pane-content">
    <div class="received-messages">
        <div class="ui header">Received messages</div>
        <div class="received-message-list">
            <envelope *ngFor="#envelope of displayedSubscribeEnvelopes" [envelope]="envelope"></envelope>
        </div>
        <publish></publish>
    </div>
    <div class="subscribed-channels">
        <div class="ui header">Subscribed channels</div>
        <subscribe></subscribe>
    </div>
</div>
